{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - squadre{% endblock %}
{% block main %}
    {{ form_errors(form) }}
    <table class=" table teams">
        <tr>
            <th class="position" ></th>
            <th class="name" >Squadra</th>
            <th class="number" >#</th>
            <th class="points" >Punti</th>
        </tr>
        {% for team in teams %}
            <tr class="team" >
                <th class="position" >{{team.position}}</th>
                <td class="name" >{{team.name}}</td>
                <td class="number" >{{team.number}}</td>
                <td>{{team.points|number_format(2,'.','')}}</td>
            </tr>
        {% endfor %}
        <form class="team new" method="post">
            <tr>
                <th class="position" ></th>
                <th class="name" >{{ form_row(form.name) }}</th>
                <th class="number" >{{ form_row(form.number) }}</th>
                <th class="points" ><input type="submit" name="submit" class="new btn btn-primary btn-small" value="aggiungi" /></th>
            </tr>
            {{ form_rest(form) }}
        </form>
    </table>
{% endblock %}
